<script src="explore.component.js"></script>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-menu-button></ion-menu-button>
  </ion-fab>
  <!-- move style to scss -->
  <div class="page-content">
    <ion-icon name="person" (click)="handleButtonClick($event)" class="profile"></ion-icon>
    <div class="header-area">
      <ion-label class="headline">Aktuell Trending</ion-label><a href="#"><ion-icon name="settings" class="settings"></ion-icon></a>
      </div>

    <!-- Wrapper -->
    <div class="post-area">
      <div class="grid">
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
          </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
          </div>
        <div class="post-card">
          <ion-card class="post">
            <ion-card-header class="post-header">
              <ion-card-subtitle class="post-timestamp">Card Subtitle</ion-card-subtitle>
              <ion-card-title class="post-author">Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
