// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --ion-background-color: var(--background-default);
}

entry-wrapper {
  height: 100%;
}

ion-menu-button, ion-label {
  color: var(--text-default);
}

.page-content {
  background: var(--background-default);
  min-height: 100%;
  padding: 50px 10%;
}

.post-content, .post-header {
  background: var(--background-light);
}

.post-content {
  color: var(--text-light);
}

.post-timestamp {
  text-transform: uppercase;
  color: var(--text-default);
}

.post-author {
  color: var(--text-light);
}

.header-md:after {
    left: 0;
    bottom: 0;
    background-position: left 0 top 0;
    position: absolute;
    width: 0;
    height: 0;
    background-image: none;
    background-repeat: no-repeat;
    content: "";
  }

// Sidemenu width
.split-pane-md.split-pane-visible > .split-pane-side {
  max-width: 20vw;
}

.menu-tabs {
  height: 10%;
}

.menu-tabs {
  display: none;
}

@media only screen and (max-width: 767px) {
  .menu-tabs {
    display: inherit;
  }
}
