<div class="sidebar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" width="100%" id="logo">
  </div>

  <nav class="navigation">
    <ul>
      <li *ngFor="let item of headerItems" lines="none" class="list-item">
        <ion-label class="header-item" [ngClass]="{'active-header-item': routing.url === item.url}" (click)="navigate(item.url)">
          {{item.title}}</ion-label>
      </li>
    </ul>
  </nav>

  <span class="interests-title">Deine Interests</span>
  <nav class="interests">
    <ul>
      <li *ngFor="let item of customItems">
        <custom-item [item]="item" [parentUrl]="''" [sidemenu]="this" class="list-item"></custom-item>
        <!--<ion-label class="interest-item" [ngClass]="{'active-interest-item': routing.url === folder.url}"
        (click)="navigate(folder.url)">{{folder.title}}</ion-label>(click)="folder.toggle()"-->
      </li>
    </ul>
  </nav>

  <nav class="mini-menu">
    <ul>
      <li (click)="show()" class="mini-menu-item">
        <ion-icon name="add"></ion-icon> Interest hinzufügen
      </li>
      <li class="mini-menu-item"><a routerLink="/settings">
          <ion-icon name="settings"></ion-icon> Einstellungen
        </a></li>
    </ul>
  </nav>

  <dialog #interest class="create-interest">
    <ion-label>
      <ion-icon name="close" (click)="close()" class="close-interest-dialog"></ion-icon>
    </ion-label>

    <ion-input placeholder="Interest name" required></ion-input>
    <ion-input placeholder="URL"></ion-input>
    <ion-input placeholder="Parent"></ion-input>
    <ion-list>
      <ion-radio-group>

        <ion-item>
          <ion-label>
            <ion-icon name="logo-twitter"></ion-icon> Twitter
          </ion-label>
          <ion-radio slot="start" value="twitter" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="logo-youtube"></ion-icon> Youtube
          </ion-label>
          <ion-radio slot="start" value="youtube"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="folder-open"></ion-icon> Folder
          </ion-label>
          <ion-radio slot="start" value="folder"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button (click)="close()">Submit</ion-button>
  </dialog>

</div>