<ion-header>
  <!-- move style to scss -->
  <img src="assets/logo.png" id="logo">
  <ion-list>
    <ion-item *ngFor="let item of headerItems" lines="none" class="list-item">
      <ion-label class="header-item" [ngClass]="{'active-header-item': routing.url === item.url}" (click)="navigate(item.url)">
        {{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="sidebar">
  <ion-list>
    <custom-item *ngFor="let item of customItems" [item]="item" [parentUrl]="'/'" [sidemenu]="this"></custom-item>
  </ion-list>
</ion-content>