<entry-wrapper>
  <ion-grid>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-row align-items-center>
        <ion-col>
          <ion-label class="text-default">E-Mail</ion-label>
        </ion-col>
        <ion-col>
          <ion-input class="text-default input-default" formControlName="email" type="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-label class="text-default">Passwort</ion-label>
        </ion-col>
        <ion-col>
          <ion-input class="text-default input-default" formControlName="password" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-label class="text-default">Passwort bestätigen</ion-label>
        </ion-col>
        <ion-col>
          <ion-input class="text-default input-default" formControlName="passwordVerify" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-button class="button-turquoise text-light" expand="full" type="submit" [disabled]="registerForm.invalid">Registrieren</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row align-items-center>
      <ion-col>
        <ion-label class="text-default">Schon ein Konto? </ion-label>
        <ion-label class="text-hyperlink" (click)="navigateLogin()">Hier anmelden</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</entry-wrapper>