<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-menu-button></ion-menu-button>
  </ion-fab>
  <!-- move style to scss -->
  <div style="background: var(--background-default); height: 100%; padding-top: 50px; padding-left: 20px">
    <ion-label style="color: var(--text-default);">Test Topic</ion-label>
  </div>
  <ion-list>
    <ion-item id="twitter" style="height: 100vh"><ion-label>First</ion-label></ion-item>
    <ion-item id="facebook"><ion-label>Facebook</ion-label></ion-item>
    <ion-item id="insta" style="height: 100vh"><ion-label>First</ion-label></ion-item>
  </ion-list>
  
</ion-content>