ion-grid,
ion-row {
  height: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  height: 150px;
}

// still in use?
.wrapper-background {
  background: var(--background-default);
  width: 378px;
}

div {
  background: var(--background-default);
  width: 378px;
}
