<ion-app>
  <ion-split-pane no-shadow>
    <!-- TODO max width -->
    <ion-menu side="start" swipeGesture="false" type="push">
      <sidemenu></sidemenu>
    </ion-menu>
    <ion-router-outlet main>
        <ion-tabs>
            <ion-tab-bar slot="bottom"  class="menu-tabs">
              <ion-tab-button tab="home">
                <ion-icon name="home"></ion-icon>
              </ion-tab-button>
              <ion-tab-button tab="explore">
                <ion-icon name="flame"></ion-icon>
              </ion-tab-button>
              <ion-tab-button tab="nearby">
                <ion-icon name="compass"></ion-icon>
              </ion-tab-button>
              <ion-tab-button tab="interests">
                <ion-icon name="list"></ion-icon>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
