<!-- <ion-item detail lines="none">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="custom-item" [ngClass]="{'active-custom-item': isActive }" (click)="sidemenu.navigate(getUrl())">{{item.title}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isFolder(item)">
      <ion-col>
        <custom-item *ngFor="let child of item.children" [item]="child" [parentUrl]="parentUrl + '/' + item.url" [sidemenu]="sidemenu">
        </custom-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item> -->
  <ul>
    <li><ion-label class="custom-item" [ngClass]="{'active-custom-item': isActive }" (click)="sidemenu.navigate(getUrl())">{{item.title}}</ion-label></li>
    <li *ngIf="isFolder(item)"><custom-item *ngFor="let child of item.children" [item]="child" [parentUrl]="parentUrl + '/' + item.url" [sidemenu]="sidemenu"></custom-item></li>
  </ul>
