.full-height {
  height: 100%;
}

#logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  height: 150px;
}

#content-encapsulation {
  background: var(--background-default);
  width: 378px;
}
