.full-height {
  height: 100%;
  background: var(--background-dark)
}

#logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  height: 150px;
}

#content-encapsulation {
  background: var(--background-default);
  width: 378px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}
