<ion-content>
  <!-- move style to scss -->
  <div class="page-content">
      <ion-label class="headline">In deiner Abwesenheit</ion-label>
      <!-- <ion-grid>
      <ion-row>
        <ion-col size-lg="4" size-md="6" size-sm="12">
          <ng-container *ngFor="let post of unseen">
            <ng-container [ngSwitch]="post.type">
              <item-twitter *ngSwitchCase="'twitter'" [post]="post"></item-twitter>
              <item-youtube *ngSwitchCase="'youtube'" [post]="post"></item-youtube>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <!-- Wrapper -->
    <div class="post-area">
      <div class="grid" *ngFor="let post of unseen">
        <div class="post-card" [ngSwitch]="post.type">
          <ion-card class="post">
          <item-twitter *ngSwitchCase="'twitter'" [post]="post" class="post"></item-twitter>
          </ion-card>
          <item-youtube *ngSwitchCase="'youtube'" [post]="post" class="post"></item-youtube>
        </div>
      </div>
    </div>
  </div>
</ion-content>
