<entry-wrapper>
  <ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-row align-items-center>
        <ion-col>
          <ion-label class="text-default">E-Mail</ion-label>
        </ion-col>
        <ion-col>
          <ion-input class="text-default input-default" formControlName="email" type="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-label class="text-default">Passwort</ion-label>
        </ion-col>
        <ion-col>
          <ion-input class="text-default input-default" formControlName="password" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col>
          <ion-button class="button-turquoise text-light" expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row align-items-center>
      <ion-col>
        <ion-label class="text-default">Password vergessen? </ion-label>
        <ion-label class="text-default" (click)="navigateRecover()" class="text-hyperlink">Hier zurücksetzen</ion-label>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col>
        <ion-label class="text-default">Noch kein Konto? </ion-label>
        <ion-label class="text-default" (click)="navigateRegister()" class="text-hyperlink">Hier registrieren</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</entry-wrapper>
